{% extends "base.html" %}

{% block page_content %}

        <div class="mw6 center pa3 sans-serif">

            <h1 class="mb4">Job: {{ job.title }} </h1>

            <p class="mb2"><b>Required skill: </b> {{ job.required_skill }}</p>
<!--            <p class="mb2"><b>Required skill: </b> {{ job.master_id }}</p>-->

            <h2 class="b mb2">candidates:</h2>

        {% for v in candidates %}

            <div class="pa2 mb3 striped--near-white">

                <div class="pl2">

                    <h4 style="text-align:center" class="mb2"><b><u>{{ v.first_name }} {{ v.last_name }}</u> </b> </h4>

                    <p class="mb2"><b>match percentage: </b>{{ v.match_percent }}%</p>
                    <p class="mb2"><b>title: </b>{{ v.title }}</p>
                    <p class="mb2"><b>skills: </b>
                      {% for skill in v.skills %}
                        <div style="padding: 0.5vh 1vw; display: inline-block;">{{ skill }}</div>
                      {% endfor %}
                    <p class="mb2"><b>Already our employee: </b>{{ v.is_cur_employee }}</p>
                    </p>


                </div>

            </div>

        {% endfor %}

        </div>

{% endblock %}