{% extends "base.html" %}

{% block page_content %}

        <div class="mw6 center pa3 sans-serif">
        <h2>Jobs:</h2>
        {% for job in jobs %}

            <div class="pa2 mb3 striped--near-white">

                <div class="pl2">

                    <h3 style="text-align:center" class="mb2"><u>{{ job.title.name }}</u> </h3>
                    <p class="mb2"><b>Required skill: </b>{{ job.required_skill }}</p>
                    <a href="{{job.id}}" class="mb2" onclick="goToLink">Find candidates </a>

                </div>

            </div>

        {% endfor %}

        </div>

{% endblock %}
